@keyframes loaderr
{
    0%
    {
        transform: rotate(0deg);
    }
    50%
    {
        border-radius: 50%;
    }
    100%
    {
        transform: rotate(360deg);
        padding: 2rem;
    }
}
@keyframes pika
{
    0%
    {
        border-radius: 50%;
        transform: rotate(0deg);
    }
    100%
    {
        border-radius: 0%;
        transform: rotate(360deg);
    }
}

#loader iframe
{
    height: 200px;
    width: 200px;
    animation-name: pika;
    animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 3s;
animation-direction: alternate-reverse;
}
#loader
{
    animation-name: loaderr;
    animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 3s;
animation-direction: alternate;
    height: 200px;
    background-color: yellow;
    width: fit-content;
    border: 2rem yellow solid;
    border-top: 2rem black solid;
    border-bottom: 2rem black solid;
    margin-left: 570px;
    margin-top: 200px;

}
body
{
    background-image: url("https://i.pinimg.com/736x/e3/af/9c/e3af9c7dc24b3fcb9b5f2d812d839783.jpg");
}
